@model IEnumerable<JIT.MVC.Models.ProjectViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="\WorkingHours\images\icons\favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\vendor\bootstrap\css\bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\fonts\font-awesome-4.7.0\css\font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\vendor\animate\animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\vendor\select2\select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\vendor\perfect-scrollbar\perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="\WorkingHours\css\util.css">
    <link rel="stylesheet" type="text/css" href="\WorkingHours\css\main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-table100">
            <h1 class="text-white" id="headingText">Your working hours</h1>
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">@Html.DisplayNameFor(model => model.ProjectName)</th>
                                <th class="column2">@Html.DisplayNameFor(model => model.WorkingDate)</th>
                                <th class="column3">@Html.DisplayNameFor(model => model.WorkingHours)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="column1">@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                    <td class="column2">@Html.DisplayFor(modelItem => item.WorkingDate)</td>
                                    <td class="column3">@Html.DisplayFor(modelItem => item.WorkingHours)</td>
                                    <td class="column6">
                                        <a class="btn text-white" style="background: #512b58;">Edit</a>
                                        <a class="btn text-white" style="background: #ff5151;" onclick="deleteHours(@item.Id)">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-5 control-buttons">
                <a class="btn btn-warning" style="margin:0 10px;" data-toggle="modal" data-target="#exampleModalCenter">
                    Export to PDF
                </a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">
                    Back Home
                </a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please select dates</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" asp-action="CreatePDF">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="dateofbirth">Start date</label>
                                <input style="border: 1px solid#0000003d !important;" type="date" name="startDate" id="startDate">
                            </div>
                            <div class="col">
                                <label for="dateofbirth">End date</label>
                                <input style="border: 1px solid#0000003d !important;" type="date" name="endDate" id="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning text-white">Export</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--Edit Hours Modal-->
    <!--===============================================================================================-->
    <script src="\WorkingHours\vendor\jquery\jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="\WorkingHours\vendor\bootstrap\js\popper.js"></script>
    <script src="\WorkingHours\vendor\bootstrap\js\bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="\WorkingHours\vendor\select2\select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="\WorkingHours\js\main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">

        function deleteHours(id) {
    $.ajax({
        url: '@Url.Action("DeleteProject","User")',
        type: "POST",
        data: {
            id: id
        },
        success: function(data) {
            if (data === true) {
                swal({
                    title: "Good job!",
                    text: "Email has been sent!",
                    icon: "success",
                    button: "Close",
                }).then((value) => {
                     location.reload();
                });

            } else {
                swal({
                    title: "Error",
                    text: "All fields are mandatory",
                    icon: "error",
                    button: "Close",
                })
                return false;
            }
        }
    });
        }

    </script>

</body>
</html>